@media screen and (min-width: 280px) {
  h2 {
    font-size: 0.8em;
    background-color: f5f5f5;
    text-align: center;
  }
  .containerCard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionCard {
    margin-bottom: 20px;
    border: 2px solid #aa111b;
    border-radius: 10px;
    width: 95%;
  }
  .card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin-left: 10px;
    height: 40px;
  }
  .card .title {
    font-size: 0.6em;
  }

  /* ---------------------------------------------------------------------------------------
  ----------------------------------- CARD CARS---------------------------------------------
  ------------------------------------------------------------------------------------------ */
  .containerCarSells {
    width: 95%;
    background-color: bisque;
    margin: auto;
    border: 2px solid #aa111b;
    border-radius: 10px;
    margin-top: 40px;
  }
  .exemple-card {
    display: flex;
    justify-content: center;
  }
  img {
    background-size: cover;
    max-width: 100%;
  }
  .titleCard {
    font-weight: bold;
    text-align: center;
    color: #470b0f;
    margin: 10px;
    font-family: "Lato", "Rubik", sans-serif;
  }
  .cardAction {
    display: flex;
    justify-content: center;
  }

  .submit {
    background-color: #aa111b;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.5em;
  }
  .backHome {
    text-align: center;
    margin: 20px;
  }
}

@media screen and (min-width: 390px) {
  .sectionCard {
    width: 40%;
  }
  .containerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
/* ---------------------------------------------------------------------------------------
  ----------------------------------- CARD CARS---------------------------------------------
  ------------------------------------------------------------------------------------------ */
@media screen and (min-width: 700px) {
  .container {
    display: flex;
  }
  .containerCarSells {
    width: 40%;
    background-color: bisque;
    margin: auto;
    border: 2px solid #aa111b;
    border-radius: 10px;
    margin-top: 40px;
  }
  .exemple-card {
    display: flex;
    justify-content: center;
  }
  img {
    background-size: cover;
    max-width: 100%;
  }
  .titleCard {
    font-weight: bold;
    text-align: center;
    color: #470b0f;
    margin: 10px;
    font-family: "Lato", "Rubik", sans-serif;
  }
  .cardAction {
    display: flex;
    justify-content: center;
  }

  .submit {
    background-color: #aa111b;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.5em;
  }
  .backHome {
    text-align: center;
    margin: 20px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  /* ---------------------------------------------------------------------------------------
  ----------------------------------- CARD CARS---------------------------------------------
  ------------------------------------------------------------------------------------------ */
}

h2 .red {
  color: #aa111b;
}
h2 .dark {
  color: #470b0f;
}
