<div class="container">
  <form #form="ngForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Rechercher un véhicule</mat-label>
      <input
        #searchBox
        (keyup)="search(searchBox.value)"
        ngModel
        matInput
        type="search"
        name="search"
        id="search"
        placeholder="ex: Ford, Peugeot"
      />
      <div>
        <a *ngFor="let car of Car$ | async" (click)="toGoDetailCar(car)">{{car.model}}</a>
      </div>
    </mat-form-field>
  </form>
</div>
