<header>
  <div class="picture">
    <img
      src="../../../assets/picture/logoGarageParrot.png"
      alt="logo du garage de Monsieur Parrot"
    />
  </div>
  <a href="#top"></a>
  <div class="banner">
    <nav class="linkDisplay">
      <ul>
        <li><a routerLink="second-hand-car">Nos voitures d'occasions</a></li>
        <li><a routerLink="contact">Nous contacter</a></li>
        <li><a routerLink="avis">Vos avis</a></li>
        <li>
          <a routerLink="adminPannel" *ngIf="userIsAuthenticated">Admin</a>
        </li>
        <li *ngIf="!userIsAuthenticated" class="right">
          <a routerLink="login">Espace pro</a>
        </li>
        <li *ngIf="userIsAuthenticated" class="right" (click)="onLogout()">
          <a>Deconnexion</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="title titleDisplay">
    <h1>
      <span class="red">CONFIEZ VOTRE VEHICULE A </span>
      <span class="dark">DES MAINS EXPERTES</span>
    </h1>
  </div>

  <app-burger-menu></app-burger-menu>
</header>
