.container{
    display: flex;
    
}
h1 {
  text-align: center;
  color: #aa111b;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: auto;
}

mat-spinner {
  margin: auto;
}
