<mat-card class="example-card" *ngFor="let form of formData">
  <mat-card-header>
    <mat-card-title>{{ form.firstName }} {{ form.name }}</mat-card-title>
    <mat-card-subtitle>{{ form.email }}</mat-card-subtitle>
    <mat-card-subtitle>{{ form.phone }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>{{ form.message }}</mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onDelete(form.contact_form_id)">
      Supprimer
    </button>
  </mat-card-actions>
</mat-card>
