<mat-tab-group>
  <mat-tab label="Voiture d'occasion">
    <app-admin-pannel-second-hand-car></app-admin-pannel-second-hand-car
  ></mat-tab>
  <mat-tab label="Avis"
    ><app-admin-pannel-review></app-admin-pannel-review>
  </mat-tab>
  <mat-tab label="Contact">
    <app-admin-pannel-contact-form></app-admin-pannel-contact-form
  ></mat-tab>
  <mat-tab label="Page d'accueil">
    <app-admin-pannel-home-page></app-admin-pannel-home-page
  ></mat-tab>
  <mat-tab label="Section"
    ><app-admin-pannel-section></app-admin-pannel-section>
  </mat-tab>
  <mat-tab label="Image"
    ><app-admin-pannel-image></app-admin-pannel-image>
  </mat-tab>
  <mat-tab label="Heure d'ouverture"
    ><app-admin-pannel-opening-hours></app-admin-pannel-opening-hours>
  </mat-tab>
</mat-tab-group>
