<mat-tab-group>
  <mat-tab label="Ajouter une voiture d'occasion">
    <app-admin-pannel-second-hand-car></app-admin-pannel-second-hand-car
  ></mat-tab>
  <mat-tab label="Gestion des avis"
    ><app-admin-pannel-review></app-admin-pannel-review>
  </mat-tab>
  <mat-tab label="Contact">
    <app-admin-pannel-contact-form></app-admin-pannel-contact-form
  ></mat-tab>
  <mat-tab label="Gestion Page d'accueil">
    <app-admin-pannel-home-page></app-admin-pannel-home-page
  ></mat-tab>

  <mat-tab label="Gestion des Image"
    ><app-admin-pannel-image></app-admin-pannel-image>
  </mat-tab>
  <mat-tab label="Gestion Heures d'ouverture"
    ><app-admin-pannel-opening-hours></app-admin-pannel-opening-hours>
  </mat-tab>
  <mat-tab label="Gestion des utilisateurs">
    <app-register></app-register
  ></mat-tab>
</mat-tab-group>
