<div *ngIf="data">
  <form #form="ngForm" (ngSubmit)="updatedData()">
    <label for="title">Titre de la section :</label>
    <input
      type="text"
      id="title"
      [(ngModel)]="dataBinding.title"
      name="title"
    />

    <label for="content">contenu de la section :</label>
    <textarea
      type="text"
      id="content"
      [ngModel]="data.content"
      [(ngModel)]="dataBinding.content"
      name="content"
    ></textarea>

    <button type="submit">Enregistrer les modifications</button>
  </form>
</div>
