.form {
  max-width: 600px; /* Ajustez la largeur maximale selon vos préférences */
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-label {
  font-size: 16px;
}

mat-input,
mat-textarea {
  width: 100%;
}

.textArea {
  resize: vertical;
  min-height: 150px;
  max-height: 400px;
  min-width: 150px;
}
.boutton {
  display: flex;
  justify-content: space-around;
}
button {
  margin-right: 10px;
}
