<button
  mat-button
  (click)="toggleMenu()"
  *ngIf="isButtonVisible"
  class="noDisplay"
>
  <mat-icon class="burger-icon">menu</mat-icon>
</button>
<div class="ulBurger">
  <ul *ngIf="isMenuOpen">
    <li (click)="closeMenu()">
      <a routerLink="/"
        ><span class="material-symbols-outlined"> home </span></a
      >
    </li>
    <li (click)="closeMenu()">
      <a routerLink="/second-hand-car"
        ><span class="material-symbols-outlined"> directions_car </span></a
      >
    </li>
    <li (click)="closeMenu()">
      <a routerLink="/contact"
        ><span class="material-symbols-outlined"> contact_page </span></a
      >
    </li>
    <li (click)="closeMenu()">
      <a routerLink="/avis"
        ><span class="material-symbols-outlined"> rate_review </span></a
      >
    </li>
   
  </ul>
</div>
