<button
  mat-button
  (click)="toggleMenu()"
  *ngIf="isButtonVisible"
  class="noDisplay"
>
  <mat-icon class="burger-icon">menu</mat-icon>
</button>

<ul *ngIf="isMenuOpen">
  <li><a routerLink="" (click)="(closeAutoMenu)">Accueil</a></li>
  <li (click)="(closeAutoMenu)">
    <a routerLink="second-hand-car">Nos voitures d'occasions</a>
  </li>
  <li (click)="(closeAutoMenu)"><a routerLink="contact">Nous contacter</a></li>
  <li (click)="(closeAutoMenu)"><a routerLink="avis">Nos avis</a></li>
  <li (click)="(closeAutoMenu)"><a routerLink="login">Espace pro</a></li>
  <li (click)="closeMenu()" style="text-align: center">
    <span class="material-symbols-outlined"> close </span>
  </li>
</ul>
