<div class="containerForm">
  <form [formGroup]="form" (submit)="onPostCar()" class="form">
    <mat-form-field>
      <mat-label>Marque</mat-label>
      <input
        matInput
        name="brand"
        type="text"
        formControlName="brand"
        placeholder="Marque du véhicule"
      />

      <mat-error *ngIf="brand.hasError('required')"
        >Entrer une marque.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input
        matInput
        name="model"
        type="text"
        formControlName="model"
        placeholder="Modéle du véhicule"
      />
      <mat-error *ngIf="model.hasError('required')"
        >Entrer un modéle.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Année de mise en circulation</mat-label>
      <input
        matInput
        name="year"
        type="number"
        formControlName="year"
        placeholder="Année de mise en circulation"
      />
      <mat-error *ngIf="year.hasError('required')"
        >Entrer une année "ex:2004"</mat-error
      >
      <mat-error *ngIf="year.hasError('minlength')"
        >Saisir 4 chiffres</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prix</mat-label>
      <input
        matInput
        name="price"
        type="number"
        placeholder="Prix du véhicule"
        formControlName="price"
      />
      <mat-error *ngIf="price.hasError('required')">Entrer un prix</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kilomètres </mat-label>
      <input
        matInput
        name="kilometer"
        type="number"
        placeholder="Kilométrage du véhicule"
        formControlName="kilometer"
      />
      <mat-error *ngIf="kilometer.hasError('required')"
        >Kilométrage (6 chiffres max).</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        name="description"
        placeholder="description du véhicule"
        formControlName="description"
        rows="8"
        cols="28"
        type="textArea"
      ></textarea>
      <mat-error *ngIf="description.hasError('required')"
        >Entrer une description</mat-error
      >
    </mat-form-field>

    <div>
      <button mat-stroke-button type="button" (click)="filePicker.click()">
        Ajouter Image
      </button>
      <input
        name="filePicture"
        type="file"
        #filePicker
        (change)="onImagePicked($event)"
        formControlName="filePicture"
      />
      <mat-error *ngIf="filePicture.hasError('required')"
        >Ajouter une image principale</mat-error
      >
    </div>

    <div
      class="image-preview"
      *ngIf="
        imagePreview !== '' && imagePreview 
      "
    >
      <img [src]="imagePreview" alt="form.value.filePicture" />

      <mat-error *ngIf="filePicture.hasError('valid')">test</mat-error>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="example-label"
      class="example-button-row"
      type="submit"
    >
      Enregistrer
    </button>
  </form>
</div>
