<div class="containerForm">
  <form [formGroup]="form" (submit)="onPostCar()" class="form">
    <mat-form-field>
      <mat-label>Marque</mat-label>
      <input
        matInput
        name="brand"
        type="text"
        formControlName="brand"
        placeholder="Marque du véhicule"
      />

      <mat-error *ngIf="brand.hasError('required')"
        >Entrer une marque.</mat-error
      >

      <mat-error *ngIf="brand.errors?.['minlength']"
        >2 caracteres minimun</mat-error
      >
      <mat-error *ngIf="brand.hasError('pattern')"
        >Les lettres sont uniquement autorisées</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input
        matInput
        name="model"
        type="text"
        formControlName="model"
        placeholder="Modéle du véhicule"
      />
      <mat-error *ngIf="model.hasError('required')"
        >Entrer un modéle.</mat-error
      >
      <mat-error *ngIf="model.errors?.['minlength']">1 caractere min</mat-error>

      <mat-error *ngIf="model.hasError('pattern')"
        >Les lettres et les chiffres sont uniquement autorisées</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Année de mise en circulation</mat-label>
      <input
        matInput
        name="year"
        type="text"
        formControlName="year"
        placeholder="Année de mise en circulation"
      />
      <mat-error *ngIf="year.hasError('required')"
        >Vous devez indiquer une année</mat-error
      >

      <mat-error *ngIf="year.hasError('pattern')"
        >unqiuement des chiffres</mat-error
      >
      <mat-error *ngIf="year.hasError('minlength')">4 chiffres min</mat-error>
      <mat-error *ngIf="year.hasError('maxlength')">4 chiffres max</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prix</mat-label>
      <input
        matInput
        name="price"
        type="text"
        placeholder="Prix du véhicule"
        formControlName="price"
      />
      <mat-error *ngIf="price.hasError('required')"
        >Vous devez indiquer un prix</mat-error
      >

      <mat-error *ngIf="price.hasError('pattern')"
        >unqiuement des chiffres</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kilomètres </mat-label>
      <input
        matInput
        name="kilometer"
        type="text"
        placeholder="Kilométrage du véhicule"
        formControlName="kilometer"
      />
      <mat-error *ngIf="kilometer.hasError('required')"
        >Kilométrage (6 chiffres max).</mat-error
      >

      <mat-error *ngIf="kilometer.hasError('pattern')"
        >unqiuement des chiffres</mat-error
      >

      <mat-error *ngIf="kilometer.hasError('maxlength')"
        >6 chiffres max</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        name="description"
        placeholder="description du véhicule"
        formControlName="description"
        rows="8"
        cols="28"
        type="textArea"
      ></textarea>
      <mat-error *ngIf="description.hasError('required')"
        >Entrer une description</mat-error
      >
    </mat-form-field>

    <div>
      <button mat-stroke-button type="button" (click)="filePicker.click()">
        Ajouter Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" alt="form.value.picture" />
    </div>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="example-label"
      class="example-button-row"
      [ngClass]="{ 'disabled-btn': form.invalid }"
      class="btn"
      [disabled]="form.invalid"
    >
      Enregistrer
    </button>
  </form>
</div>
