@media screen and (min-width: 280px) {
  .container {
    display: flex;
  }
  .container span {
    font-size: 0.8em;
  }
  .picture {
    display: flex;
    justify-content: center;
  }
  img {
    max-width: 95%;
  }
 
}

@media screen and (min-width: 390px) {
  .container span {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 500px) {
  .container span {
    font-size: 1.4em;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
span {
  color: #aa111b;
  font-size: 3em;
}
.error404 span {
  font-size: 40px;
  margin: 20px;
}
